<section class="movie d-flex align-items-center flex-column">
    <div class="movie-bg-container">
        <img [src]="movieItem.hinhAnh" class="movie-bg">
    </div>
    <div class="movie__overlay">
        <div class="container d-flex justify-content-center">
            <div class="row d-flex fixed_width align-items-center justify-content-center">
                <app-movie-info class="col-md-8 pl-0" [movieInfo]='movieItem'></app-movie-info>
                <app-movie-rating class="col-md-4 pr-0"></app-movie-rating>
            </div>
        </div>
    </div>
    <app-movie-booking class="fixed_width row"></app-movie-booking>
</section>
