<div class="sub__container d-flex justify-content-between align-items-center">
    <p class="text-white sub__text">Đăng kí để nhận ngay<span> Newsletter</span></p>
    <form class="sub__form">
        <input class="bg-white" placeholder="Nhập email tại đây" value="">
    </form>
    <div class="sub__media d-flex">
        <div class="media"><span class="lnr lnr-facebook"></span></div>
        <div class="media"><span class="lnr lnr-twitter"></span></div>
        <div class="media"><span class="lnr lnr-google-plus"></span></div>
        <div class="media"><span class="lnr lnr-instagram"></span></div>
    </div>
</div>


