@import "src/constants/color.scss";

.sub__container {
	padding: 35px 180px;
	.sub__text {
		font-size: 21px;
		font-weight: 600;
		span {
			font-size: 21px;
			font-weight: 600;
			color: $yellow-primary;
		}
	}
	.sub__form {
		padding: 3px 20px;
		border-radius: 30px;
		background-color: white;
		input {
			width: 260px;
			font-size: 18px;
			outline: none;
			border: none;
			color: $purple-dark;
		}
	}
	.sub__media {
		.media {
			width: 35px;
			height: 35px;
			border-radius: 50%;
			text-align: center;
			display: block;
			background-color: $purple-light;
			margin: 0 5px;
			.lnr {
				color: $white;
				line-height: 35px;
				font-size: 18px;
			}
		}
	}
}
