@import "src/constants/color.scss";
.btn_eye {
	position: absolute;
	right: -8px;
	top: 50%;
	transform: translateY(-50%);
}

.material-icons {
	font-size: 18px;
}

h5 {
	text-align: center;
	height: unset;
}
a {
	cursor: pointer;
	display: block;
	height: unset;
	margin-bottom: 50px;
	width: unset;
	color: $yellow-primary !important;
	opacity: 0.8;
	&:hover {
		opacity: 1;
	}
}
mat-form-field {
	width: 100%;
}
