<!--<div *ngIf="showSpinner; else template">
  <app-spinner class="spinner"></app-spinner>
</div>-->
<div>
  <app-landing-carousel></app-landing-carousel>
  <!-- BEGIN TICKETFORM -->
  <section id="ticketform" class="cinema__ticketform">
    <div class="btn__container row d-flex justify-content-between align-items-center">
      <div class="cinema__dropdown dropdown col-sm-3" id="movie__dropdown">
        <button (click)="hideOtherBtn(1)" id="movieDrop" class="btn d-flex align-items-center" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectedMovie}}
          <span class="lnr lnr-angle-down ml-auto"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="movieDrop">
          <li *ngFor="let movieItem of movieArray" (click)="setSelected(movieItem.movie_title, 1)">
            <a>{{movieItem.movie_title}}</a>
          </li>
        </ul>
      </div>
      <div class="divider"></div>
      <div class="cinema__dropdown dropdown col-sm-2" id="cinemas__dropdown">
        <button (click)="hideOtherBtn(2)" id="cinemaDrop" class="btn d-flex align-items-center" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectedCinema}}
          <span class="lnr lnr-angle-down ml-auto"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="cinemaDrop">
          <p *ngIf="!statusCinema; else showCinema">Xin hãy chọn phim</p>
          <ng-template #showCinema>
            <li *ngFor="let cinemaItem of cinemaList; let curCinema=index" (click)="setSelected(cinemaItem, 2); consoleCur(curCinema)">
              <a>{{cinemaItem}}</a>
            </li>
          </ng-template>
        </ul>
      </div>
      <div class="divider"></div>
      <div class="cinema__dropdown dropdown col-sm-2" id="date__dropdown">
        <button (click)="hideOtherBtn(3)" id="dateDrop" class="btn d-flex align-items-center" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectedDate}}
          <span class="lnr lnr-angle-down ml-auto"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dateDrop">
          <p *ngIf="!statusDate; else showDate">Xin hãy chọn rạp phim</p>
          <ng-template #showDate>
            <li *ngFor="let dateItem of timeForCine.dateArrange" (click)="setSelected(dateItem.date, 3)">
              <p class="dropdown__header px-1">{{dateItem.DOW}}</p>
              <a>{{dateItem.date | date: 'dd-MM-yyyy'}}</a>
            </li>
          </ng-template>
        </ul>
      </div>
      <div class="divider"></div>
        <div class="cinema__dropdown dropdown col-sm-2" id="time__dropdown">
        <button (click)="hideOtherBtn(4)" id="timeDrop" class="btn d-flex align-items-center" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectedTime}}
          <span class="lnr lnr-angle-down ml-auto"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="timeDrop">
          <p *ngIf="!statusTime; else showTime">Xin hãy chọn ngày</p>
          <ng-template #showTime>
            <li *ngFor="let timeItem of timeList" (click)="setSelected(timeItem, 4)">
              <a>{{timeItem}}</a>
            </li>
          </ng-template>
        </ul>
      </div>
      <div class="divider"></div>
      <button type="col-sm-2" class="btn cinema__btn" id="ticket__btn">
        ĐẶT VÉ
      </button>
    </div>
  </section>
  <!-- END TICKETFORM --> 
  <app-landing-movielist class="landing__movie mb-5"></app-landing-movielist>
  <app-landing-ad class="landing__ad mb-5 mt-5"></app-landing-ad>
  <!-- BEGIN CINEMAFORM -->
  <h2> Cụm rạp </h2>
  <app-cinema-form class="cinema__cinemaform d-flex justify-content-center mb-5"></app-cinema-form>
  <!-- END CINEMAFORM -->
  <app-landing-ad class="landing__ad mb-5"></app-landing-ad>
  <app-subscription class="landing__sub"></app-subscription>
  <app-app-display id="appdisplay" class="landing__app"></app-app-display>
</div>

