<app-landing-carousel></app-landing-carousel>

    <!-- BEGIN TICKETFORM -->
    <section id="ticketform" class="cinema__ticketform">
      <div class="btn__container row d-flex justify-content-between align-items-center">
        <div class="cinema__dropdown dropdown col-sm-3" id="movie__dropdown">
          <button (click)="hideOtherBtn(1)" id="movieDrop" class="btn d-flex align-items-center" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{selectedMovie}}
            <span class="lnr lnr-angle-down ml-auto"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="movieDrop">
            <li *ngFor="let movieItem of movieArray" (click)="setSelected(movieItem.movie_title, 1)">
              <a>{{movieItem.movie_title}}</a>
            </li>
          </ul>
        </div>
        <div class="divider"></div>
        <div class="cinema__dropdown dropdown col-sm-2" id="cinemas__dropdown">
          <button (click)="hideOtherBtn(2)" id="cinemaDrop" class="btn d-flex align-items-center" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{selectedCinema}}
            <span class="lnr lnr-angle-down ml-auto"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="cinemaDrop">
            <p *ngIf="!statusCinema; else showCinema">Xin hãy chọn phim</p>
            <ng-template #showCinema>
              <li *ngFor="let cinemaItem of cinemaList; let curCinema=index" (click)="setSelected(cinemaItem, 2); consoleCur(curCinema)">
                <a>{{cinemaItem}}</a>
              </li>
            </ng-template>
          </ul>
        </div>
        <div class="divider"></div>
        <div class="cinema__dropdown dropdown col-sm-2" id="date__dropdown">
          <button (click)="hideOtherBtn(3)" id="dateDrop" class="btn d-flex align-items-center" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{selectedDate}}
            <span class="lnr lnr-angle-down ml-auto"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dateDrop">
            <p *ngIf="!statusDate; else showDate">Xin hãy chọn rạp phim</p>
            <ng-template #showDate>
              <li *ngFor="let dateItem of timeForCine.dateArrange" (click)="setSelected(dateItem.date, 3)">
                <p class="dropdown__header px-1">{{dateItem.DOW}}</p>
                <a>{{dateItem.date | date: 'dd-MM-yyyy'}}</a>
              </li>
            </ng-template>
          </ul>
        </div>
        <div class="divider"></div>
         <div class="cinema__dropdown dropdown col-sm-2" id="time__dropdown">
          <button (click)="hideOtherBtn(4)" id="timeDrop" class="btn d-flex align-items-center" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{selectedTime}}
            <span class="lnr lnr-angle-down ml-auto"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="timeDrop">
            <p *ngIf="!statusTime; else showTime">Xin hãy chọn ngày</p>
            <ng-template #showTime>
              <li *ngFor="let timeItem of timeList" (click)="setSelected(timeItem, 4)">
                <a>{{timeItem}}</a>
              </li>
            </ng-template>
          </ul>
        </div>
        <div class="divider"></div>
        <button type="col-sm-2" class="btn cinema__btn" id="ticket__btn">
          ĐẶT VÉ
        </button>
      </div>
    </section>
    <!-- END TICKETFORM --> 

    <!-- BEGIN MOVIELIST -->
    <app-landing-movielist class="landing__movie"></app-landing-movielist>
    <!-- END MOVIELIST -->

    <!-- BEGIN AD -->
    <app-landing-ad class="landing__ad"></app-landing-ad>
    <!-- END AD -->

    <!-- BEGIN CINEMAFORM -->
    <section id="cinemaform" class="cinema__cinemaform d-flex justify-content-center mb-5">
      <h2> Cụm rạp </h2>
      <div class="cinemaform__container cine-container">
        <ul class="nav nav__main d-flex align-items-center justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#brand1">
              <img src="assets/img/cinema/cine1.png"/>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#brand2">
              <img src="assets/img/cinema/cine2.png"/>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#brand3">
              <img src="assets/img/cinema/cine3.png"/>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#brand4">
              <img src="assets/img/cinema/cine4.png"/>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#brand5">
              <img src="assets/img/cinema/cine5.png"/>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#brand6">
              <img src="assets/img/cinema/cine6.png"/>
            </a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="brand1">
            <div class="nav__overflow d-flex">
              <ul class="nav nav-pills d-flex">
                <li class="nav-item">
                  <a class="nav-link active d-flex p-0 py-1" data-toggle="pill" href="#cinema1_1">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/bhd-star-cineplex-quang-trung', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_3">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_4">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane container active flex-column branch__movie" id="cinema1_1">
                  <div class="branch__container pb-2 mb-2">
                  <!--movie_detail-->
                    <div class="branch__movieinfo d-flex align-items-center" data-toggle="collapse" data-target="#bhd-1_movie-1" aria-expanded="true" aria-controls="bhd-1_movie-1">
                      <img src="assets/img/movies/spider-man-nguoi-nhen-xa-nha-sm.jpg"/>
                      <div class="movieinfo__content ml-2">
                        <h3 class="movie__title m-0"><span class="age__restrict">C13</span>Spider Man: Người Nhện Xa Nhà - Spider Man: Far From Home</h3>
                        <div class="d-flex movie__ratings">
                          <p class="movie__timelength"><span>129</span> phút -</p>
                          <p class="movie__rate1">&nbsp;CyberPhim <span>8.9</span> -</p>    
                          <p class="movie__rate2">&nbsp;IMDb <span>7.9</span></p>    
                        </div>
                      </div>
                    </div>
                  <!--movie_schedule-->
                    <div class="collapse movie__schedule show mt-3" id="bhd-1_movie-1">
                      <div class="d-flex">
                        <img src="assets/img/movies/2_0.png"/>
                        <div class="movie__time ml-4">
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="branch__container pb-2 mb-2">
                  <!--movie_detail-->
                    <div class="branch__movieinfo d-flex align-items-center" data-toggle="collapse" data-target="#bhd-1_movie-2" aria-expanded="true" aria-controls="bhd-1_movie-2">
                      <img src="assets/img/movies/spider-man-nguoi-nhen-xa-nha-sm.jpg"/>
                      <div class="movieinfo__content ml-2">
                        <h3 class="movie__title m-0"><span></span>Spider Man: Người Nhện Xa Nhà - Spider Man: Far From Home</h3>
                        <div class="d-flex movie__ratings">
                          <p class="movie__timelength"><span>129</span> phút -</p>
                          <p class="movie__rate1">&nbsp;CyberPhim <span>8.9</span> -</p>    
                          <p class="movie__rate2">&nbsp;IMDb <span>7.9</span></p>    
                        </div>
                      </div>
                    </div>
                  <!--movie_schedule-->
                    <div class="collapse movie__schedule show mt-3" id="bhd-1_movie-2">
                      <div class="d-flex">
                        <img src="assets/img/movies/2_0.png"/>
                        <div class="movie__time ml-4">
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="branch__container pb-2 mb-2">
                  <!--movie_detail-->
                    <div class="branch__movieinfo d-flex align-items-center" data-toggle="collapse" data-target="#bhd-1_movie-3" aria-expanded="true" aria-controls="bhd-1_movie-3">
                      <img src="assets/img/movies/spider-man-nguoi-nhen-xa-nha-sm.jpg"/>
                      <div class="movieinfo__content ml-2">
                        <h3 class="movie__title m-0"><span></span>Spider Man: Người Nhện Xa Nhà - Spider Man: Far From Home</h3>
                        <div class="d-flex movie__ratings">
                          <p class="movie__timelength"><span>129</span> phút -</p>
                          <p class="movie__rate1">&nbsp;CyberPhim <span>8.9</span> -</p>    
                          <p class="movie__rate2">&nbsp;IMDb <span>7.9</span></p>    
                        </div>
                      </div>
                    </div>
                  <!--movie_schedule-->
                    <div class="collapse movie__schedule show mt-3" id="bhd-1_movie-3">
                      <div class="d-flex">
                        <img src="assets/img/movies/2_0.png"/>
                        <div class="movie__time ml-4">
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="branch__container pb-2 mb-2">
                  <!--movie_detail-->
                    <div class="branch__movieinfo d-flex align-items-center" data-toggle="collapse" data-target="#bhd-1_movie-4" aria-expanded="true" aria-controls="bhd-1_movie-4">
                      <img src="assets/img/movies/spider-man-nguoi-nhen-xa-nha-sm.jpg"/>
                      <div class="movieinfo__content ml-2">
                        <h3 class="movie__title m-0"><span class="age__restrict">C13</span>Spider Man: Người Nhện Xa Nhà - Spider Man: Far From Home</h3>
                        <div class="d-flex movie__ratings">
                          <p class="movie__timelength"><span>129</span> phút -</p>
                          <p class="movie__rate1">&nbsp;CyberPhim <span>8.9</span> -</p>    
                          <p class="movie__rate2">&nbsp;IMDb <span>7.9</span></p>    
                        </div>
                      </div>
                    </div>
                  <!--movie_schedule-->
                    <div class="collapse movie__schedule show mt-3" id="bhd-1_movie-4">
                      <div class="d-flex">
                        <img src="assets/img/movies/2_0.png"/>
                        <div class="movie__time ml-4">
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="tab-pane container flex-column branch__movie fade" id="cinema1_2">
                  <!--movie_detail-->
                    <div class="branch__movieinfo d-flex align-items-center" data-toggle="collapse" data-target="#bhd-2_movie-1" aria-expanded="true" aria-controls="bhd-2_movie-1">
                      <img src="assets/img/movies/spider-man-nguoi-nhen-xa-nha-sm.jpg"/>
                      <div class="movieinfo__content ml-2">
                        <h3 class="movie__title m-0"><span class="age__restrict">C13</span>Spider Man: Người Nhện Xa Nhà - Spider Man: Far From Home</h3>
                        <div class="d-flex movie__ratings">
                          <p class="movie__timelength"><span>129</span> phút -</p>
                          <p class="movie__rate1">&nbsp;CyberPhim <span>8.9</span> -</p>    
                          <p class="movie__rate2">&nbsp;IMDb <span>7.9</span></p>    
                        </div>
                      </div>
                    </div>
                  <!--movie_schedule-->
                    <div class="collapse movie__schedule show mt-3" id="bhd-2_movie-1">
                      <div class="d-flex">
                        <img src="assets/img/movies/2_0.png"/>
                        <div class="movie__time ml-4">
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane container flex-column branch__movie fade" id="cinema1_3">
                  <!--movie_detail-->
                    <div class="branch__movieinfo d-flex align-items-center" data-toggle="collapse" data-target="#bhd-3_movie-1" aria-expanded="true" aria-controls="bhd-3_movie-1">
                      <img src="assets/img/movies/spider-man-nguoi-nhen-xa-nha-sm.jpg"/>
                      <div class="movieinfo__content ml-2">
                        <h3 class="movie__title m-0"><span class="age__restrict">C13</span>Spider Man: Người Nhện Xa Nhà - Spider Man: Far From Home</h3>
                        <div class="d-flex movie__ratings">
                          <p class="movie__timelength"><span>129</span> phút -</p>
                          <p class="movie__rate1">&nbsp;CyberPhim <span>8.9</span> -</p>    
                          <p class="movie__rate2">&nbsp;IMDb <span>7.9</span></p>    
                        </div>
                      </div>
                    </div>
                  <!--movie_schedule-->
                    <div class="collapse movie__schedule show mt-3" id="bhd-3_movie-1">
                      <div class="d-flex">
                        <img src="assets/img/movies/2_0.png"/>
                        <div class="movie__time ml-4">
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane container flex-column branch__movie fade" id="cinema1_4">
                  <!--movie_detail-->
                    <div class="branch__movieinfo d-flex align-items-center" data-toggle="collapse" data-target="#bhd-4_movie-1" aria-expanded="true" aria-controls="bhd-4_movie-1">
                      <img src="assets/img/movies/spider-man-nguoi-nhen-xa-nha-sm.jpg"/>
                      <div class="movieinfo__content ml-2">
                        <h3 class="movie__title m-0"><span class="age__restrict">C13</span>Spider Man: Người Nhện Xa Nhà - Spider Man: Far From Home</h3>
                        <div class="d-flex movie__ratings">
                          <p class="movie__timelength"><span>129</span> phút -</p>
                          <p class="movie__rate1">&nbsp;CyberPhim <span>8.9</span> -</p>    
                          <p class="movie__rate2">&nbsp;IMDb <span>7.9</span></p>    
                        </div>
                      </div>
                    </div>
                  <!--movie_schedule-->
                    <div class="collapse movie__schedule show mt-3" id="bhd-4_movie-1">
                      <div class="d-flex">
                        <img src="assets/img/movies/2_0.png"/>
                        <div class="movie__time ml-4">
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                          <a href="#">22:30</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>  
          </div>
          <div class="tab-pane fade" id="brand2">
            <div class="nav__overflow d-flex">
              <ul class="nav nav-pills d-flex">
                <li class="nav-item">
                  <a class="nav-link active d-flex p-0 py-1" data-toggle="pill" href="#cinema1_1">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/bhd-star-cineplex-quang-trung', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_3">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_4">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div class="tab-pane container active" id="cinema2_1">Cinema2_1</div>
              <div class="tab-pane container fade" id="cinema2_2">Cinema2_2</div>
              <div class="tab-pane container fade" id="cinema2_3">Cinema2_3</div>
              <div class="tab-pane container fade" id="cinema2_4">Cinema2_4</div>
            </div>
          </div>
          <div class="tab-pane fade" id="brand3">
            <div class="nav__overflow d-flex">
              <ul class="nav nav-pills d-flex">
                <li class="nav-item">
                  <a class="nav-link active d-flex p-0 py-1" data-toggle="pill" href="#cinema1_1">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/bhd-star-cineplex-quang-trung', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_3">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_4">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div class="tab-pane container active" id="cinema3_1">Cinema3_1</div>
              <div class="tab-pane container fade" id="cinema3_2">Cinema3_2</div>
              <div class="tab-pane container fade" id="cinema3_3">Cinema3_3</div>
              <div class="tab-pane container fade" id="cinema3_4">Cinema3_4</div>
            </div>
          </div>
          <div class="tab-pane fade" id="brand4">
            <div class="nav__overflow d-flex">
              <ul class="nav nav-pills d-flex">
                <li class="nav-item">
                  <a class="nav-link active d-flex p-0 py-1" data-toggle="pill" href="#cinema1_1">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/bhd-star-cineplex-quang-trung', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_3">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_4">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div class="tab-pane container active" id="cinema4_1">Cinema4_1</div>
              <div class="tab-pane container fade" id="cinema4_2">Cinema4_2</div>
              <div class="tab-pane container fade" id="cinema4_3">Cinema4_3</div>
              <div class="tab-pane container fade" id="cinema4_4">Cinema4_4</div>
            </div>
          </div>
          <div class="tab-pane fade" id="brand5">
            <div class="nav__overflow d-flex">
              <ul class="nav nav-pills d-flex">
                <li class="nav-item">
                  <a class="nav-link active d-flex p-0 py-1" data-toggle="pill" href="#cinema1_1">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/bhd-star-cineplex-quang-trung', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_3">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_4">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div class="tab-pane container active" id="cinema5_1">Cinema5_1</div>
              <div class="tab-pane container fade" id="cinema5_2">Cinema5_2</div>
              <div class="tab-pane container fade" id="cinema5_3">Cinema5_3</div>
              <div class="tab-pane container fade" id="cinema5_4">Cinema5_4</div>
            </div>
          </div>
          <div class="tab-pane fade" id="brand6">
            <div class="nav__overflow d-flex">
              <ul class="nav nav-pills d-flex">
                <li class="nav-item">
                  <a class="nav-link active d-flex p-0 py-1" data-toggle="pill" href="#cinema1_1">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/bhd-star-cineplex-quang-trung', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_2">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_3">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex p-0 py-1" data-toggle="pill" href="#cinema1_4">
                    <div class="brand__branch mr-2">
                      <img src="assets/img/cinema/bhd/bhd-star-vincom-quang-trung.jpg"/>
                    </div>
                    <div class="branch__info">
                      <p class="branch__name">BHD Star Cineplex<span> - Vincom Quang Trung</span></p>
                      <p class="branch__address">B1-Vincom QT, 190 Quang Trung, Gò Vấp</p>
                      <p class="branch__more" onclick="window.open('/rap-chieu-phim/branch__name+mainadress', '_blank')">[Chi tiết]</p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div class="tab-pane container active" id="cinema6_1">Cinema6_1</div>
              <div class="tab-pane container fade" id="cinema6_2">Cinema6_2</div>
              <div class="tab-pane container fade" id="cinema6_3">Cinema6_3</div>
              <div class="tab-pane container fade" id="cinema6_4">Cinema6_4</div>
            </div>
          </div>
         
        </div>
      </div>
    </section>
    <!-- END CINEMAFORM -->

    <!-- BEGIN AD -->
    <app-landing-ad class="landing__ad"></app-landing-ad>
    <!-- END AD -->

    <!-- BEGIN SUBSCRIPTION -->
    <app-subscription class="landing__sub"></app-subscription>
    <!-- END SUBSCRIPTION -->

    <!-- BEGIN APP -->
    <app-app-display id="appdisplay" class="landing__app"></app-app-display>
    <!-- END APP -->
