  <!-- BEGIN FOOTER -->
    <footer class="text-white">
      <div class="footer__container cine-container py-4 row">
        <div class="col-md-3 p-0 footer__movie">
          <h5>Phim nổi bật</h5>
          <ul class="p-0 mt-2">
            <li><a>The lion king</a></li>
            <li><a>The lion king</a></li>
            <li><a>The lion king</a></li>
            <li><a>The lion king</a></li>
            <li><a>Spider Man: Far From Home - Người nhện xa nhà</a></li>
            <li><a>Spider Man: Far From Home - Người nhện xa nhà</a></li>
            <li><a>Spider Man: Far From Home - Người nhện xa nhà</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer__news">
          <h5>Tin tức mới nhất</h5>
          <ul class="p-0 mt-2">
            <li><a>100% cà chua tươi, Ký Sinh Trùng xứng đáng là bộ phim hay nhất của Bong Joon Ho</a></li>
            <li><a>100% cà chua tươi, Ký Sinh Trùng xứng đáng là bộ phim hay nhất của Bong Joon Ho</a></li>
            <li><a>100% cà chua tươi, Ký Sinh Trùng xứng đáng là bộ phim hay nhất của Bong Joon Ho</a></li>
            <li><a>100% cà chua tươi, Ký Sinh Trùng xứng đáng là bộ phim hay nhất của Bong Joon Ho</a></li>
            <li><a>100% cà chua tươi, Ký Sinh Trùng xứng đáng là bộ phim hay nhất của Bong Joon Ho</a></li>
            <li><a>100% cà chua tươi, Ký Sinh Trùng xứng đáng là bộ phim hay nhất của Bong Joon Ho</a></li>
            <li><a>100% cà chua tươi, Ký Sinh Trùng xứng đáng là bộ phim hay nhất của Bong Joon Ho</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer__partner">
          <h5>Đối tác</h5>
          <div class="partners mt-2">
            <a><img src="assets/img/cinema/cine1.png"/></a>
            <a><img src="assets/img/cinema/cine2.png"/></a>
            <a><img src="assets/img/cinema/cine3.png"/></a>
            <a><img src="assets/img/cinema/cine4.png"/></a>
            <a><img src="assets/img/cinema/cine5.png"/></a>
            <a><img src="assets/img/cinema/cine6.png"/></a>
            <a><img src="assets/img/cinema/cine4.png"/></a>
            <a><img src="assets/img/cinema/cine5.png"/></a>
            <a><img src="assets/img/cinema/cine6.png"/></a>
            <a><img src="assets/img/cinema/cine4.png"/></a>
          </div>
        </div>
        <div class="col-md-3 p-0 footer__app">
          <h5>Tải app về ngay</h5>
          <div class="mt-2">
            <p class="mb-3">Tải app và nhận ngay hàng ngàn ưu đãi</p>
            <a class="mb-2"><img src="assets/img/appstore.png" style="width: 70%; height: 100%;"/></a>
            <a><img src="assets/img/playstore.png" style="width: 70%;  height: 100%;"/></a>
          </div>
        </div>
        <p class="copyright">Copyright 2018 <span><a>CyberPhim</a></span>. All rights reserved.</p>
      </div>
    </footer>