@import "../../../../constants/color.scss";

// Carousel
.cinema__carousel {
	height: 520px;
	.carousel-inner {
		img {
			width: 100%;
			height: 520px;
		}
	}
	.carousel-indicators {
		bottom: 25px;
	}
}

.controls {
	opacity: 1;
	.lnr {
		font-size: 50px;
	}
}
