<div class="movie__detail d-flex justify-content-center w-100">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Lịch chiếu">
            <app-cinema-form class="cinema__cinemaform d-flex justify-content-center mb-5"></app-cinema-form>
        </mat-tab>
        <mat-tab label="Thông tin">
            <div class="movie__content row d-flex mb-4">
                <div class="col-md-6">
                    <h5 class="mb-2">Ngày phát hành</h5>
                    <p>{{movieInfo.ngayKhoiChieu | date:'dd-MM-yyyy'}}</p>
                </div>
                <div class="col-md-6">
                    <h5 class="mb-2">Mô tả</h5>
                    <p>{{movieInfo.moTa}}</p>
                </div>
            </div>
            <div class="movie__trailer mb-5">
            <h3 class="mb-2">Trailer</h3>
                <iframe class="ytVideo" [src]="movieInfo.trailer | safeUrl" frameborder="0" style="width: 65vw; height: 35vw;">
                </iframe>
            </div>
        </mat-tab>
        <mat-tab label="Đánh giá">
        </mat-tab>
    </mat-tab-group>
</div>

