
h5 {
  text-align: center;
  height: unset;
}

.btn_eye {
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
}

.material-icons {
  font-size: 18px;
}
mat-form-field {
    width: 100%;
}