:ng-deep input:-internal-autofill-selected {
  background-color: transparent !important;
  color: white;
}

::ng-deep .mat-form-field-appearance-legacy .mat-hint {
  color: white;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white;
}
