<div class="form__bg log__sign">
    <div class="overlay d-flex justify-content-center align-items-center flex-column">
        <h1 class="mb-4 slogan text-white">
            Chào mừng bạn đến với <h1>CyberPhim</h1>
        </h1>
        <div class="login__container d-flex align-items-center flex-column">
            <a href="/"><span class="lnr lnr-plus text-white"></span></a>
            <span class="lnr lnr-logo mt-3 mb-3"></span>
            <app-login class="text-white d-flex justify-content-center align-items-center flex-column"></app-login>    
        </div>
    </div>
</div>