<div class="slide">
    <div class="movie__img">
        <img [appImgHolder]="movie.hinhAnh" onerror="this.src='assets/img/null-movie.png'">
        
        <a 
        [routerLink]="['/phim/', movie.maPhim]"
        [queryParams]="{tenPhim: movie.biDanh}"
        >
        <div class="overlay">
        </div>
        </a>
        <button class="playBtn" type="button" data-toggle="modal" data-target="#vidModal" (click)="setTrailer()">
            <span class="lnr lnr-play2"></span>
        </button>
        
    </div>
    <div class="movie__content">
        <h5>{{movie.tenPhim}}</h5>
        <p>{{movie.thoiLuong}} phút 
        
        <span>
        - IDMb {{movie.idmb}}
        </span>
        
        </p>
        <button class="btn cinema__btn">MUA VÉ</button>
    </div>
</div>

<button data-toggle="modal" data-target="#vidModal" (click)="setTrailer()">
    <span class="lnr lnr-play2"></span>
</button>