<div class="slide">
    <div class="movie__img">
        <img [appImgHolder]="movie.hinhAnh" onerror="this.src='assets/img/null-movie.png'">
        
        <a 
        [routerLink]="['/phim/', movie.maPhim]"
        [queryParams]="{tenPhim: movie.biDanh}"
        >
        </a>
        <div class="overlay">
            <button mat-button (click)="openDialog()"><span class="lnr lnr-play2"></span></button>
        </div>
        
    </div>
    <div class="movie__content">
        <h5>{{movie.tenPhim}}</h5>
        <p>{{movie.thoiLuong}} phút 
        <!--
        <span class="imdbRatingPlugin" data-user="ur106908509" [attr.data-title]="movie.idmb" data-style="p4">
        - IDMb 
        </span>
        -->
        </p>
        <button class="btn cinema__btn">MUA VÉ</button>
    </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#vidModal" (click)="setTrailer()">
  Open modal
</button>
