<!-- BEGIN HEADER -->
    <header>
      <div class="navbar cinema__header navbar-expand-md">
        <a href="/" class="navbar-brand ml-0">
          <span class="lnr lnr-logo" style="font-size: 40px;"></span>
        </a> 
        <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target=".dual-nav">
            <span class="lnr lnr-menu"></span>
        </button>
        <div class="navbar-collapse collapse dual-nav center__navbar">
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link" href="#">Lịch chiếu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Cụm rạp</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Tin tức</a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Ứng dụng</a> 
                </li>
            </ul>
          </div>
          <div class="navbar-collapse collapse dual-nav right__navbar">
              <ul class="navbar-nav align-items-center ml-auto">
                  <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="/dang-ky">
                      <span class="lnr lnr-user mr-2" style="font-size:20px;"></span>
                      Đăng nhập
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="#">
                      <span class="lnr lnr-map-marker" style="font-size:20px;"></span>
                      <select class="custom-select" style="cursor:pointer;">
                        <option selected value="HCM">Hồ Chí Minh</option>
                        <option value="HN">Hà Nội</option>
                        <option value="DN">Đà Nẵng</option>
                        <option value="HP">Hải Phòng</option>
                        <option value="BH">Biên Hoà</option>
                        <option value="NT">Nha Trang</option>
                        <option value="BD">Bình Dương</option>
                        <option value="PT">Phan Thiết</option>
                        <option value="HL">Hạ Long</option>
                        <option value="CT">Cần Thơ</option>
                        <option value="VT">Vũng Tàu</option>
                        <option value="QN">Quy Nhơn</option>
                      </select>
                    </a> 
                  </li>
              </ul>
            </div>
      </div>
    </header>
    <!-- END HEADER -->