//button, header
$purple-gradient: linear-gradient(
  to left,
  #7157c9 0%,
  #6449bd 30%,
  #5027db 70%,
  #540fed 100%
);
$purple-gradient-light: linear-gradient(
  to left,
  #8d77d4 0%,
  #5027db 70%,
  #540fed 100%
);

$purple-shadow: #aa98df;
//logo, navigation dot, navigation arrow, arrow-down:
$yellow-primary: #ffd445;
//social media icon background:
$purple-light: #7362f4;
//divider:
$gray-light: #d5d5d5;
$gray-dark: #9d9d9d;
//white:
$white: #fff;
//black:
$black: #000;
$orangered: orangered;
$green: #1f9350;

$purple-primary: #5943ff;
$black-text: #000;
$bg: #fff;
$border: $gray-light;
$main-bg: #14181d;

$purple-primary-dark: #8605ff;
$border-dark: #778899;
$black-text-dark: #c4daf0;
$bg-dark: transparent;
$main-bg-dark: $white;
