<div class="cinemaform__container cine-container">
    <ul class="nav nav__main d-flex align-items-center justify-content-center">
    <li class="nav-item" *ngFor="let cineitem of cineArr; let stt = index">
        <a class="nav-link" data-toggle="pill" href="#brand{{stt+1}}" [ngClass]="{'active':stt=='0'}">
        <img [src]="cineitem.logo"/>
        </a>
    </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
    <ng-container *ngFor="let branditem of cineArr; let sttBrand = index">
        <div class="tab-pane" id="brand{{sttBrand+1}}" [ngClass]="(sttBrand=='0')?'active':'fade'">
            <app-cinema-branch [maRap]="branditem.maHeThongRap" [curCine]="sttBrand"></app-cinema-branch>
        </div>
    </ng-container>
      
    </div>
</div>